#camera-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: black;
}

#outer-circle{
    background: black
}

#camera-close-btn{
    position: absolute;
    z-index: 1;
    background: black;
    border-bottom-right-radius: 50%;
    padding: 15px;
    height: 70px;
    width: 70px;
    border-bottom-left-radius: 50%;
}

#camera-switch-btn{
    position: absolute;
    right: 0;
    z-index: 1;
    background: black;
    border-bottom-right-radius: 50%;
    padding: 15px;
    height: 70px;
    width: 70px;
    border-bottom-left-radius: 50%;
}

